*{
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box; /* Применяем ко всем элементам */
}
header{
    background-color: white;
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;    

    border-radius: 24px;
}
header h1{
    width: fit-content;
}
body{
    background-color: #EEF3F7;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 8vw;
}
.wrapper{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    flex: 1 0 0;
}

.left-info, .right-banners, .top-banners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    max-width: 360px;
}
.top-banners{
    max-width: initial;
    height: fit-content;
}
.left-info>.block, .right-banners>.block, .top-banners>.block{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    align-self: stretch;


    font-size: 14px;
    border-radius: 26px;
    background: #FFF;
}
.right-banners>.block, .top-banners>.block{
    width: 100%;
    border-radius: 26px;
    padding: 12px;
    max-height: 250px;
}
.right-banners>.block>img, .top-banners>.block>img{
    height: 100%;
    object-fit: cover;
}
.logo-link{
    width: 100%;
    max-height: 72px;
}
.logo-link>img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
}
.top-banners{
    display: none;
    flex-direction: row;
    max-height: 200px;
}
.block img{
    border-radius: 14px;
    width: 100%;    
}
.block h1{
    font-size: 24px;
}
h1{
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Добавить многоточие в конце */
}
h3{
    margin: 0;
}
p{
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: 400;
}
button{
    cursor: pointer;
}


.card-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.card{
    display: flex;
    max-width: 100%;
    width: 572px;
    background-color: white;
    border-radius: 26px;
    flex: 1;
    padding: 14px;
    align-items: flex-start;
    gap: 18px;
}


/* ЛЕВЫЙ БЛОК */

.left-wr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 210px;
    align-self: stretch;
    
}
.left-wr > img{
    height: 72px;
    border-radius: 12px;
    object-fit: cover;
}
.btn-wr{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.down-wr{
    display: flex;
    gap: 8px;
    flex-direction: row;
}
/* МОБИЛА */
.top-wr{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.down-wr.logo{
    flex-direction: column;
}
.btn-wr > .link-btn{
    flex: initial;
}
.link-btn{
    display: flex;
    height: 38px;
    padding: 4px 11px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;

    border-radius: 12px;
    border: none;
    color: black;
    background: #EEF3F7;
    text-decoration: none;
}
.name-wr{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;

    padding: 0px 8px;
}
.bonus{
    

    width: fit-content;
    margin-top: 10px;
    padding: 5px 0px;

    
}
.bonus > a{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #086FDE;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
/* ПРАВЫЙ БЛОК */
.right-wr{
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}
.more-wr{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 32px;
    width: fit-content;
    padding: 2px 8px;
    margin-top: 8px;
    
    border-radius: 6px;
    border: none;
    background: #EEF3F7;
    

    color: #086FDE;
    font-size: 14px;
    font-weight: 600;
}
.reviews-wr{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.review{
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;

    border-radius: 12px;
    width: fit-content;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.review.pos{
    color: #3DBB42;
    background: #F1FBEF;
}
.review.neg{
    color: #DE0505;
    background: #FFECEC;
}
.more-btn{
    display: none;
    height: 24px;
    padding: 0px 12px 0px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border: none;
    background-color: initial;

    color: #8B9094;
    font-size: 16px;
}
.phone{
    display: none;
}
@media screen and (max-width: 910px) {
    .card {
      flex-direction: column;
      width: 100%;
    }
    .card-container{
        width: 100%;
    }
    .top-wr{
        width: 100%;
        display: flex !important;
    }
    .divider{
        display: none;
    }
    .btn-wr{
        display: none;
    }
    .left-wr{
        width: 100%;
    }
    .right-wr{
        gap: 24px;
    }
    .more-btn{
        display: flex;
        width: 100%;
    }
    .phone{
        display: flex;
        flex: 1;
    }
    .card > .link-btn{
        display: flex;
        width: 100%;
        height: 38px;
        padding: 0;
        flex: initial;
    }   
    .more-details{
        display: none;
    }
}
@media screen and (max-width: 1340px) {
    .right-banners{
        display: none;
    }
    .top-banners{
        display: flex;
    }
    .left-info{
        max-width: initial;
    }
}
@media screen and (max-width: 610px) {
    .wrapper{
        flex-direction: column;
    }
    .card-container{
        width: 100%;
        align-items: center;
        margin-top: 12px;
    }
}

@media screen and (min-width: 920px) {
    .more-details{
        display: flex !important;
    }
}

