*{
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}
h1{
    margin: 0;
    overflow-wrap: break-word;
    color: #141414;
    font-size: min(32px, 6vw);
    font-weight: 700;
}
p{
    margin: 0;
    color: #262626;
    font-size: 16px;
    font-weight: 400;
}
header{
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;    

    border-radius: 24px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}
.wrapper{
    display: flex;
    gap: 24px;
    width: 1024px;
    padding: 0 0 24px 0;
}



.contents{
    width: 256px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

a.active {
    opacity: 100%;
}  
a{
    color: #000;
    opacity: 60%;
    font-weight: 600;
    text-decoration: none;
    padding: 4px 0;
}
a:hover{
    color: #404040;
}
.application > .btn-wrapper{
    display: flex;
    width: 100%;
    gap: 10px;
}
.application > .btn-wrapper > *{
    display: flex;
    height: 42px;
    padding: 12px 14px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    width: 100%;
    font-size: 14px;

    border-radius: 12px;
    border: 1px solid #404040;
    background: #232323;
    color: white;
}
.application > .btn-wrapper > button{
    border: none;
    background: white;
    color: black;
    
    font-weight: 600;
    justify-content: center;
    cursor: pointer;
}
.application > .btn-wrapper > button:hover{
    opacity: 0.8;
}



.block.recommend{
    display: flex;
    flex-direction: column;
    background: #181716;
}
.block.recommend > h1{
    color: white;
}
.recommend-wr{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
}

.recommend-wr > div{
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 18px;
    border: 1px solid #404040;
    background: #232323;
    color: white;
    width: 100%; 
}
.left-wr{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}
.left-wr > img{
    height: 36px;
}
 .maintext{
    width: 100%;

    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;

    height: 10px;
    color: #FFF;
    font-size: 13.5px;

    font-weight: 500;    
}
.stars > img:last-child{
    margin-right: 3px;
}
.recommend-wr > div > button{
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    gap: 10px;  

    min-width: fit-content;
    height: 36px;
    padding: 12px 14px;

    border-radius: 8px;
    border: 1px solid #404040;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 14px;

    
    cursor: pointer;
}

.recommend-wr > div > button:hover{
    background: #404040;
}


.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-left: 256px;
}
.main > img{
    border-radius: 28px;
}
.block{
    transition: 0.2s;
    display: flex;
    padding: 19px 26px 24px 26px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    border-radius: 28px;
    border: 1px solid #E2E2E2;
    background: #FFF;
}



.block.quote{
    display: flex;
    padding: 12px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    border-radius: 12px;
    background: #181716;
    color: #EDEDED;
    font-size: 18px;
    font-weight: 600;
}
.head{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    color: #DDDCDC;
    font-size: 14px;
    font-weight: 500;
}


.application{
    border-radius: 28px;
    border: 1px solid #E2E2E2;
    background: #181716;
}
.application > h1{
    color: white;
}
.application > p{
    color: #414141;
    font-size: 14px;
}

.active-block {
    transition: 0.2s;
    opacity: .5;
}

@media screen and (max-width: 1220px) {
    .main{
        width: 100%;
    }
    .wrapper{
        width: 100%;
        padding: 24px;
    }
}
@media screen and (max-width: 750px) {
    .contents{
        position: initial;
        padding: 24px;
    }
    .contents > a{
        padding: 6px 0;
    }
    .main{
        padding-left: initial;
    }
    .wrapper{
        flex-direction: column;
        width: 100%;
        padding: 24px;
    }
    .btn-wrapper{
        flex-direction: column;
        
    }
    .btn-wrapper > div{
        flex-wrap: wrap;
    }
    .recommend-wr > .send{
        flex-direction: column;
    }
    .recommend-wr > .send > button{
        width: 100%;
        justify-content: center;
    }
}


@media screen and (max-width: 490px) {
    .recommend-wr > div{
        flex-direction: column;
    }
    .recommend-wr > div > button{
        width: 100%;
        justify-content: center;
    }
    .left-wr{
        flex-direction: row-reverse;
    }
}